/* Main HTML elements */
body{
  font-family: "Montserrat";
}

/* tittle section */
.title{
  background-color: #FF4C68;
}
.title-header-h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.2;
  color: white;
}
.container-fluid{
  padding: 3% 15% 8%;
}

/* title image */
.title-image-container{
    text-align: right;
}
.title-image{
  width: 60%;
  min-width: 250px;
  transform: rotate(30deg);
  position: absolute;
  right: 30%;
}

/* Navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2rem;
}
.navbar{
  padding: 0 0 4.5rem 0;
}
.nav-item{
  padding: 0 18px;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Downlaod Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Features Section */
.features-container{
  padding: 7% 15%;
  background-color: white;
  position:relative;
  z-index: 1;
}
.features-icon{
  font-size: 3.5rem;
  color:  #ef8172;
  margin: 40px 0 25px 0;
}
.features-col-container{
  text-align: center;
  padding: 0 15px;
}
.features-col-container h3{
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: bold;
}
.features-col-container p{
  font-size:0.8rem;
  color: #8f8f8f;
}
.features-icon:hover{
  color: #FF4C68;
}

/* Testimonials Section */
.testimonials{
  text-align: center;
  background-color:  #ef8172;
  color: white;
}
.testimonials h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
}
.testimonials-image{
  border-radius: 100%;
  width:10%;
  margin: 30px;
}
.carousel-item{
    padding: 7% 15%;
}

/* Press Section */
.press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
.pricing{
  padding: 7% 7%;
  text-align: center;
}
.pricing h2{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
}
.pricing h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
}
.pricing p{
  color: #8f8f8f;
}
.pricing-row-container{
  padding-top: 50px;
}
.card{
  min-height: 400px;
  text-align: center;
}
.pricing-btn{
  width: 100%;
}

/* Cta Section*/
.cta{
  background-color: #ff4c68;
  padding: 7%;
  text-align: center;
}
.cta h3{
  font-family:"Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}
.cta button{
  margin-bottom: 0;
}

/* Footer Section*/
.footer{
  padding: 7%;
  text-align: center;
  background-color: white;
  font-size: 12px;
}
.footer i{
  margin: 0 15px 25px 15px;
}
.footer p{
  color: #8f8f8f;
  font-size: 0.7rem;
}

/* Responsive settings */
@media (max-width: 900px)
{
  .title-image{
    position: static;
    transform: rotate(0);
  }
  .title{
    text-align: center;
  }
  .title-image-container{
    text-align: center;
  }
}
